.searchBar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 90px;
}

.search{
    display: flex;
    gap: 20px;
    align-items: center;
    background: #FCFCFD;
    width: 400px;
    height: 51px;
    padding: 20px;
    border-radius: 20px;
}

.search img{
    width: 24px;
    height: 24px;
}

.searchContainer{
    padding: 10px;
    width: 250px;
    height: 56px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid  #E8EFF7;
}
