.items {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 25px;
}

.slidebarContainer {
  width: 250px;
  height: 1487px;
}

.slidebar {
  padding: 110px 30px;
}

.slide {
  padding: 20px;
  width: 230px;
  height: 600px;
}

.h5U {
  font-size: 14px;
  font-weight: 600;
  color: #53545C;
}
